﻿
@{
    ViewBag.Title = "Health";
    Layout = "~/Views/Shared/_InnerLayoutPage.cshtml";
}

@section header{
    <style>
        .seo-what-we-do {
            position: relative;
            padding: 0px 0 100px;
        }

        .owl-carousel .owl-item {
            position: relative;
            min-height: 1px;
            float: left;
            -webkit-backface-visibility: hidden;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .project-minimal-slider .item.col .single-block {
            margin-left: 15px;
            margin-right: 15px;
        }

        .seo-what-we-do .single-block {
            margin-top: 40px;
        }

            .seo-what-we-do .single-block .wrapper {
                background: #fff;
                border-radius: 4px;
                text-align: center;
                padding: 50px 10px 60px;
                box-shadow: 0px 4px 7px 0px rgb(0 0 0 / 80%);
            }

            .seo-what-we-do .single-block:nth-child(1) .wrapper .icon-box {
                background: transparent;
                margin-top: -100px;
            }

            .seo-what-we-do .single-block .wrapper .title {
                display: block;
                font-size: 16px;
                color: #000000;
                margin-top: 8px;
                margin-bottom: 0px;
            }

        .sub_right:hover {
            background: #fff;
            border: 2px solid#09a9e5;
            color: #09a9e5;
            font-size: 22px;
        }

        .sub_right {
            width: 54px;
            height: 26px;
            line-height: 26px;
            background: #09a9e5;
            padding: 0;
            border-radius: 15px;
            color: #fff;
            font-size: 22px;
            margin: 0;
            position: absolute;
            bottom: 44%;
            margin-top: -27px;
            left: calc(50% - 27px);
        }
    </style>
}
<div class="cta-area pt-85 pb-55" style="padding-top: 20px !important; ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="cta-text mb-30">
                    <h3>We take care you and your family</h3>
                    <p>
                        A health insurance policy is an agreement between an insurance company and a policy holder. In this agreement, the policy provider offers financial assistance for medical expenses to the policy holder in return of a premium. The policy holder can get reimbursement for medical treatments, hospital bills, surgical bills, etc or choose the cashless claim feature.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="cta-dir mb-30">
                    <img src="~/Content/img/icon/cta.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="owl-item active" style="width: 220px; margin-right: 0px;">
                    <div class="item col p-0">
                        <div class="seo-what-we-do">
                            <div class="single-block">
                                <div class="wrapper">
                                    <div class="icon-box">
                                        <img src="https://www.paybima.com/public/assets_new/home_assets/images/img/health.webp" alt="Health Insurance policy">
                                    </div>
                                    <a href="/Health/HealthRejistration" class="title"><b>Health</b> Insurance <br><span>Stay fit as a fiddle</span> </a>
                                    <a href="/Health/HealthRejistration"><span class="sub_right" style=""><i class="fa fa-angle-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>