﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
@section header{
}
<!-- slider start -->
<div class="slider-area">
    <div class="slider-active">
        <div class="single-slider slide-height d-flex align-items-center" style="background-image:url(../Content/img/slider/slide1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="slide-content text-center">
                            <h1 data-animation="fadeInUp" data-delay=".5s">Protect Your <br> Family with <span>Insurance</span></h1>
                            <p data-animation="fadeInUp" data-delay="1s">
                                Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                                erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerc
                            </p>
                            <a class="btn" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                learn more
                                <i class="icofont icofont-location-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slide-height d-flex align-items-center" style="background-image:url(../Content/img/slider/slide2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="slide-content text-left">
                            <h1 data-animation="fadeInUp" data-delay=".5s">Protect Your <br> Family with <span>Insurance</span></h1>
                            <p data-animation="fadeInUp" data-delay="1s">
                                Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                                erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerc
                            </p>
                            <a class="btn" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                learn more
                                <i class="icofont icofont-location-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slide-height d-flex align-items-center" style="background-image:url(../Content/img/slider/slide3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-2">
                        <div class="slide-content text-right">
                            <h1 data-animation="fadeInUp" data-delay=".5s">Protect Your <br> Family with <span>Insurance</span></h1>
                            <p data-animation="fadeInUp" data-delay="1s">
                                Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                                erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerc
                            </p>
                            <a class="btn" href="#" data-animation="fadeInUp" data-delay="1.5s">
                                learn more
                                <i class="icofont icofont-location-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider end -->
<div class="service-area pt-115 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="area-title text-center mb-55">
                    <h2>Insurance services</h2>
                    <p>
                        Consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                        erat volutpat Ut wisi enim ad minim veniam quis nostud est.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon1.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>Life Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon2.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>House Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon3.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>Medical Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon4.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>Travel Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon5.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>Car Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="service-list mb-60 text-center">
                    <div class="service-icon">
                        <img src="~/Content/img/icon/service-icon6.png" alt="">
                    </div>
                    <div class="service-text">
                        <h3>Study Insurance</h3>
                        <p>
                            Duis autem vel eum iriure dolor in he vulputate velit molestie illum dolore eu feugiat veniam nostr exerci Ut wisi veniam
                            quis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- who we start -->
<div class="who-we-aera gray-bg pt-105 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="area-title text-center mb-55">
                    <h2>
                        Who we
                        <span>are</span>
                    </h2>
                    <p>
                        Consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                        erat volutpat Ut wisi enim ad minim veniam quis nostud est.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="who-wrapper text-center mb-30">
                    <img src="~/Content/img/about/who1.png" alt="">
                    <h3>What We Do For You</h3>
                    <p>
                        Lorem ipsum dolor sit amet adipiscing elit sed diam nonummy ni euismod tinc idunt ut laoreet dolore erat volutpat Ut wisi
                        enim ad minim veniam.
                    </p>
                    <a href="about.html">
                        Read more
                        <i class="icofont icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="who-wrapper text-center mb-30">
                    <img src="~/Content/img/about/who2.png" alt="">
                    <h3>We Respect Clients</h3>
                    <p>
                        Lorem ipsum dolor sit amet adipiscing elit sed diam nonummy ni euismod tinc idunt ut laoreet dolore erat volutpat Ut wisi
                        enim ad minim veniam.
                    </p>
                    <a href="about.html">
                        Read more
                        <i class="icofont icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="who-wrapper text-center mb-30">
                    <img src="~/Content/img/about/who3.png" alt="">
                    <h3>We Safety Company</h3>
                    <p>
                        Lorem ipsum dolor sit amet adipiscing elit sed diam nonummy ni euismod tinc idunt ut laoreet dolore erat volutpat Ut wisi
                        enim ad minim veniam.
                    </p>
                    <a href="about.html">
                        Read more
                        <i class="icofont icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- who we end -->
<!-- promotion-area start -->
<div class="promotion-area pt-200 pb-200" style="background-image:url(../Content/img/bg/video.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
                <div class="promotion-text text-center">
                    <h3>Home insurance for <br> our clients</h3>
                    <P>
                        Life policies are legal contracts and the terms of the contract describe the limitations of the insured events. Specific
                        exclusions are written.
                    </P>
                    <div class="video-btn">
                        <a href="#" class="btn theme-btn btn-hover xs-none">start quote now</a>
                        <a href="#" class="watch-video popup-video">
                            <i class="far fa-play-circle"></i> <span>Watch Our Video</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- promotion-area end -->
<!-- cta area start -->
<div class="cta-area pt-85 pb-55">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="cta-text mb-30">
                    <h3>We take care you and your family</h3>
                    <p>
                        Klaritas est etiam processus dynamicus qui sequitur mutation consuetudium lectorum. Mirum est notare
                        quam littera gothica quam nunc.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="cta-dir mb-30">
                    <img src="~/Content/img/icon/cta.png" alt="">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="cta-btn text-left text-lg-right mb-30">
                    <a href="contact.html" class="btn theme-btn btn-hover">
                        <i class="icofont icofont-ui-call"></i> Contact us
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cta area end -->
<!-- fact-area start -->
<div class="fact-count-area bg-cover" style="background-image:url(../Content/img/bg/fact.jpg)">
    <div class="fact-left">
        <div class="row no-gutters">
            <div class="col-xl-4">
                <div class="fact-text theme-bg">
                    <h3> know about our fact</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidu laoreet dolore magna aliquam
                        erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci tation.
                    </p>
                    <a href="#" class="btn btn-hover">learn more <i class="icofont icofont-location-arrow"></i></a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="fact-wrapper clearfix">
                    <div class="fact-single">
                        <span>25</span>
                        <h3>Years Experence</h3>
                    </div>
                    <div class="fact-single">
                        <span>89</span>
                        <h3>Win Awards</h3>
                    </div>
                    <div class="fact-single">
                        <span>700</span>
                        <h3>Happy Clients</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fact-area end -->
<!-- blog start -->
<!--<div class="blog-area gray-bg pt-105 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="area-title text-center mb-55">
                    <h2>
                        Our latest
                        <span>News</span>
                    </h2>
                    <p>
                        Consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                        erat volutpat Ut wisi enim ad minim veniam quis nostud est.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrapper mb-30">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/Content/img/blog/lp1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <span>
                                20
                                <br> Sep
                            </span>
                            <h3>
                                <a href="blog-details.html">Sorem ipsum dolor site nec amet consec adipiscing elite.</a>
                            </h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consec adipiscing elit sed diam nonummy ni euismod tinc.</p>
                        <a class="read-more" href="blog-details.html">
                            Read more
                            <i class="icofont icofont-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrapper mb-30">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/Content/img/blog/lp2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <span>
                                20
                                <br> Sep
                            </span>
                            <h3>
                                <a href="blog-details.html">Sorem ipsum dolor site nec amet consec adipiscing elite.</a>
                            </h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consec adipiscing elit sed diam nonummy ni euismod tinc.</p>
                        <a class="read-more" href="blog-details.html">
                            Read more
                            <i class="icofont icofont-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog-wrapper mb-30">
                    <div class="blog-thumb">
                        <a href="blog-details.html">
                            <img src="~/Content/img/blog/lp3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <span>
                                20
                                <br> Sep
                            </span>
                            <h3>
                                <a href="blog-details.html">Sorem ipsum dolor site nec amet consec adipiscing elite.</a>
                            </h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consec adipiscing elit sed diam nonummy ni euismod tinc.</p>
                        <a class="read-more" href="blog-details.html">
                            Read more
                            <i class="icofont icofont-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- blog end -->
<!-- brand area start -->
<div class="brand-area pt-80 pb-80">
    <div class="container">
        <div class="row brand-active">
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-1.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-2.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-3.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-4.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-5.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-6.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="single-brand">
                    <a href="#"><img src="~/Content/img/brand/client-2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    @*<script src="~/Content/js/Custom/indexjs.js?v=1.2"></script>*@
}