﻿
@{
    ViewBag.Title = "HealthRejistration";
    Layout = "~/Views/Shared/_InnerLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <style>
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #b5b8b9;
            position: absolute;
            left: -50%;
            top: 13px;
            z-index: -1;
            border-radius: 0%;
        }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 60% !important;
            height: 26px !important;
            float: right;
        }

        h6 {
            font-size: 13px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 100;
            margin-top: 0px;
            font-style: normal;
            color: #308db5;
        }


        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        p {
            font-size: 14px !important;
        }
    </style>
}
<div class="container-fluid form-group">
    <div class="row" style="margin-top: 24px;">
        <div class="col-sm-3" style="width: 24% !important; margin-left: 10px; flex: 24%;">
            <h3 style="color:#09a9e5;font-size: 22px;">Family Health Insurance with Care</h3>
            <div class="row">
                <div class="col-sm-12">
                    <p style="margin: 0px;">1. Religare Health Insurance is now Care Health Insurance</p>
                    <p style="margin: 0px;">2. 15 days Wait period for COVID Treatment*</p>
                    <p style="margin: 0px;">3. Avail Annual Health Checkup & Tax Rebate u/s 80D</p>
                    <p style="margin: 0px;">4. Coverage for Modern Treatment like Robotic Surgery, etc</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Healthinc.jpg" style="height: 340px;" />
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center helthtop" style="margin-left: 55px;"> All health plans cover Covid-19 treatment</h4>
                    <div id="msform">
                        <ul id="progressbar">
                            <li class="active"></li>
                            <li class="linext2"></li>
                        </ul>
                    </div>

                    <fieldset class="section1" style="width: 90%; margin-left: 53px;">
                        <div class="col-sm-12">
                            <p class="text-center" style="border-bottom: 1px solid #ccc;">Protect yourself from Corona virus</p>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-sm-4">
                                            <label class="lcolr">Policy Type</label>
                                        </div>
                                        <div class="col-sm-8 form-validation">
                                            <select id="ddlPolicyType" name="ddlPolicyType" class="form-control selecthgt" onchange="ResetMembers()">
                                                <option value="INDIVIDUAL">Individual</option>
                                                <option value="FAMILYFLOATER">Family Floater</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-sm-4">
                                            <label class="lcolr">Sum Insured</label>
                                        </div>
                                        <div class="col-sm-8 form-validation">
                                            <select name="ddlSumInsured" id="ddlSumInsured" class="form-control selecthgt"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="lcolr">Pin Code</label>
                                        </div>
                                        <div class="col-sm-8 form-validation">
                                            <input type="text" id="txtPinCode" class="form-control selecthgt" placeholder="Pin Code" maxlength="6" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckPincode()" />
                                            <span class="hidden" id="notpincodevalid" style="position: absolute;top: 10px;right: 20px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top: 20px;">
                                    <button class="btn theme-btn btn-hover" onclick="return checkSection1RegForm();" style="padding: 10px 50px;float:right">Next ></button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="section2 hidden" style="width: 90%; margin-left: 53px;">
                        <div class="col-sm-12">
                            <p class="text-center" style="border-bottom: 1px solid #ccc;">Tell us who would you Like to Insure and enter their age..</p>
                            <div class="row form-group OtherSection FamilySection">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Self
                                                    <input type="checkbox" class="submenuclass chkmember chkbox_self" data-member="self" id="CheSelf" name="CheSelf" onchange="OnOffMember('self');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group SelfAge form-validation hidden">
                                            <h6>
                                                <span class="ageleft">Age</span><input type="text" placeholder="yr" class="form-control agetextbox" id="txtSelfAge" name="txtSelfAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtSelfAge','selfageerror')" />

                                            </h6>
                                            <span id="selfageerror" style="float: right;margin: 0px 0px 0px 25px;color: #e71820;font-size: 9px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Spouse
                                                    <input type="checkbox" class="submenuclass chkmember chkbox_spouse" data-member="spouse" id="CheSpouse" name="CheSpouse" onchange="OnOffMember('spouse');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group form-validation SpouseAge hidden">
                                            <h6>
                                                <span class="ageleft">Age</span><input type="text" placeholder="yr" class="form-control agetextbox" id="txtSpouseAge" name="txtSpouseAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtSpouseAge','spouseageerror')" />
                                            </h6>
                                            <span id="spouseageerror" style="float: right;margin: 0px 0px 0px 25px;color: #e71820;font-size: 9px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group OtherSection FamilySection">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Son
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="input-group hidden" id="chkSonAge" style="width: 100%;float:right;">
                                                <span class="input-group-addon" style="cursor: pointer;padding: 7px;background: #d8d8d8;border-radius: 1px;" data-appdiv="divSonAgeSection" data-name="Son" onclick="decrement(this);"> <span class="fa fa-minus-circle facolrMi"></span></span>
                                                <input type="text" id="chkSonInput" class="form-control adults" value="1" readonly="readonly" style="height: 35px;text-align:center;background: #fff;">
                                                <span class="input-group-addon" data-appdiv="divSonAgeSection" style="padding: 7px;background: #d8d8d8;border-radius: 1px;cursor: pointer;" data-name="Son" onclick="increment(this);"> <span class="fa fa-plus-circle facolrPlu"></span> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" id="divSonAgeSection">
                                        @*<div class="col-sm-12">

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="pull-right" style="color: #e71820;">Son</label>
                                                    </div><div class="col-sm-6">
                                                        <h6>
                                                            <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSon1Age" name="txtSon1Age" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)"> <span class="yrposion">yr</span>
                                                        </h6>
                                                        <span id="childageerror_Son1" style="float: right;margin: 0px 0px 0px 42px;color: #e71820;font-size: 8px;"></span>
                                                    </div>
                                                </div>


                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Daughter
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_daughter" data-member="daughter" data-name="Daughter" id="chkDaughter" name="chkDaughter" onchange="OnOffMember('daughter');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <div class="input-group hidden" id="chkDaughterAge" style="width: 100%;float:right;">
                                                <span class="input-group-addon" style="cursor: pointer;padding: 7px;background: #d8d8d8;border-radius: 1px;" data-appdiv="divDaughterAgeSection" data-name="Daughter" onclick="decrement(this);"> <span class="fa fa-minus-circle facolrMi"></span></span>
                                                <input type="text" id="chkDaughterInput" class="form-control adults" value="1" readonly="readonly" style="height: 35px;text-align:center;background: #fff;">
                                                <span class="input-group-addon" data-appdiv="divDaughterAgeSection" style="padding: 7px;background: #d8d8d8;border-radius: 1px;cursor: pointer;" data-name="Daughter" onclick="increment(this);"> <span class="fa fa-plus-circle facolrPlu"></span> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" id="divDaughterAgeSection">
                                        <!--<div class="col-sm-12">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="pull-right" style="color: #e71820;">Daughter</label>
                                                </div><div class="col-sm-6">
                                                    <h6>
                                                        <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSon1Age" name="txtSon1Age" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)"> <span class="yrposion">yr</span>
                                                    </h6>
                                                    <span id="childageerror_Son1" style="float: right;margin: 0px 0px 0px 42px;color: #e71820;font-size: 8px;"></span>
                                                </div>
                                            </div>-->
                                        @*<div class="row">
                                                <div class="col-sm-6">
                                                    <label class="pull-right" style="color: #e71820;">Daughter2</label>
                                                </div><div class="col-sm-6">
                                                    <h6>
                                                        <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSon1Age" name="txtSon1Age" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)"> <span class="yrposion">yr</span>
                                                    </h6>
                                                    <span id="childageerror_Son1" style="float: right;margin: 0px 0px 0px 42px;color: #e71820;font-size: 8px;"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="pull-right" style="color: #e71820;">Daughter3</label>
                                                </div><div class="col-sm-6">
                                                    <h6>
                                                        <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSon1Age" name="txtSon1Age" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)"> <span class="yrposion">yr</span>
                                                    </h6>
                                                    <span id="childageerror_Son1" style="float: right;margin: 0px 0px 0px 42px;color: #e71820;font-size: 8px;"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="pull-right" style="color: #e71820;">Daughter4</label>
                                                </div><div class="col-sm-6">
                                                    <h6>
                                                        <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSon1Age" name="txtSon1Age" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)"> <span class="yrposion">yr</span>
                                                    </h6>
                                                    <span id="childageerror_Son1" style="float: right;margin: 0px 0px 0px 42px;color: #e71820;font-size: 8px;"></span>
                                                </div>
                                            </div>*@

                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            @*<div class="row form-group OtherSection" id="ParentsSection">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Father
                                                    <input type="checkbox" class="submenuclass chkmember chkbox_father" id="CheFather" data-member="father" name="CheFather" onchange="OnOffMember('father');" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group FatherAge form-validation hidden">
                                            <h6>
                                                <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtFatherAge" name="txtFatherAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtFatherAge','fatherageerror')" />
                                                <span class="yrposion">yr</span>
                                            </h6>
                                            <span id="fatherageerror" style="float: right;margin: 0px 0px 0px 30px;color: #e71820;font-size: 9px;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    Mother
                                                    <input type="checkbox" class="submenuclass chkmember chkbox_mother" id="CheMother" data-member="mother" name="CheMother" onchange="OnOffMember('mother');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-6 form-group MotherAge form-validation hidden">
                                            <h6>
                                                <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtMotherAge" placeholder="yr" name="txtMotherAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtMotherAge','motherageerror')" />

                                            </h6>
                                            <span id="motherageerror" style="float: right;margin: 0px 0px 0px 30px;color: #e71820;font-size: 9px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn theme-btn btn-hover previous1" onclick="return Backform();" style="padding: 10px 50px;float:left;background: #000000;border-color: #000000;">< Previous</button>
                                    <span class="btn theme-btn btn-hover" id="btnGetQuotes" onclick="return GetProductList();" style="padding: 10px 50px;float:right">Get Quotes</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="col-sm-12">

    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <div class="servicee-sidebar mb-70">
                <div class="sidebar-testimonial gray-bg">
                    <h3>What Our Customers Say</h3>
                    <div class="test-item">
                        <p>
                            Consectetuer adipcing elit, sed diam nonummy nibh euismod tindunt ut laoreet dolore aliquami erat volpate Ut wisi enim
                            ad minim venia nostrud exerci tation ullamcorpe. <i class="fas fa-quote-right"></i>
                        </p>
                        <div class="test-info">
                            <div class="test-img">
                                <img src="~/Content/img/testimonial/test1.png" alt="">
                            </div>
                            <div class="test-name">
                                <h5>Annetta S. Deakins</h5>
                                <span>CEO &amp; Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8">
            <div class="insurance-details mb-70">
                <h3 class="mt-25">What is the life insurance ?</h3>
                <p>
                    Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mage aliquami erat volpate Ut wisi
                    enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea comcon sequat. Duis
                    autem velue eum iriure dolor in hendrerit in vulputate velitesse molestie consequat vel illum dolorere eu feugi nulla facilisis
                    at vero eros eternst.
                </p>
                <p>
                    Fonsec tetuer adipiscing elitsed diam nonummy nibh euismod tincidunt ut laoreet dolore mage aliquami erat volpate Ut wisi
                    enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis
                </p>
                <div class="row mt-40 ">
                    <div class="col-md-6">
                        <div class="insurance-desc-img mb-30">
                            <img src="~/Content/img/insurance/life/life1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="insurance-desc-img mb-30">
                            <img src="~/Content/img/insurance/life/life2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <h3>Why insurance useful in human life ?</h3>
                <p>
                    Nonummy onsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mage aliquami erat volpate Ut wisi
                    enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea comcon sequat. Duis
                    autem velue eum iriure dolor in hendrerit in vulputate velitesse molestie consequat vel illum dolorere eu feugi nulla
                    facilisis at vero eros eternst.
                </p>
                <p>
                    Honsect etuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mage aliquami erat volpateUt wisi
                    enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea comcon sequat. Duis
                    autem velue eum iriure dolor in hendrerit in
                </p>
                <div class="row mt-40 ">
                    <div class="col-md-6">
                        <div class="insurance-desc-img mb-30">
                            <img src="~/Content/img/insurance/life/life3.jpg" alt="">
                        </div>
                        <div class="ins-desc-content">
                            <h4>Insurance is very important in our life</h4>
                            <p>
                                Honsect etuer adipiscing elit, sed diam nonumm euismod tincidunt ut laoreet dolore mage aliquami erat volpaw wisi enim ad
                                minim veniam quis nostrud exerci tation ulcorper suscipit lobortis nisl ut aliquip ex ea comcon sequat. Duis autem velue
                                eum iriure dolor in hendrerit.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="insurance-desc-img mb-30">
                            <img src="~/Content/img/insurance/life/life4.jpg" alt="">
                        </div>
                        <div class="ins-desc-content">
                            <h4>We care about your child's future</h4>
                            <p>
                                Honsect etuer adipiscing elit, sed diam nonumm euismod tincidunt ut laoreet dolore mage aliquami erat volpaw wisi enim
                                ad minim veniam quis nostrud exerci tation ulcorper suscipit lobortis nisl ut aliquip ex ea comcon sequat. Duis autem
                                velue eum iriure dolor in hendrerit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_BootModalPartialPage")
@section footer{
    <script src="~/Content/js/Common/common.js"></script>
    <script src="~/Content/js/Custom/HealthRegistration.js?v=1.1"></script>
}