﻿
@{
    ViewBag.Title = "HealthProposal";
    Layout = "~/Views/Shared/_InnerLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/datepicker.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #b5b8b9;
            position: absolute;
            left: -50%;
            top: 13px;
            z-index: -1;
            border-radius: 0%;
        }

        #progressbar li {
            width: 25%;
        }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 60% !important;
            height: 26px !important;
            float: right;
        }

        h6 {
            font-size: 13px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Work Sans', sans-serif;
            font-weight: 100;
            margin-top: 0px;
            font-style: normal;
            color: #308db5;
        }


        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: #09a9e5;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        p {
            font-size: 14px !important;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #2d83bd;
        }


            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 4px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 25%;
                color: #fff;
            }

                .tab button:hover {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

                .tab button.active {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .table td, .table th {
            padding: 5px 5px;
            vertical-align: top;
            border: 1px solid #dee2e6;
        }

        .table-success, .table-success > td, .table-success > th {
            background-color: #fff;
        }

        #compare_div {
            position: fixed !important;
            bottom: 0 !important;
            left: 40% !important;
            background-color: #2d83bd !important;
            color: #FFF !important;
            z-index: 500 !important;
            padding: 10px !important;
            max-width: 480px !important;
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #245262;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            height: 104px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #09a9e5;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #fff !important;
            }

        .fonticon {
            font-size: 40px;
            color: green;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 12px;
            /*text-align: right;*/
            margin-left: 20px;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #09a9e5;
            background: #09a9e5;
            padding: 10px 10px;
            border-radius: 4px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #09a9e5;
            background: #09a9e5;
            padding: 10px 10px;
            border-radius: 4px;
            width: 20%;
            color: #fff;
        }

        .my_badge.label {
            position: absolute;
            background: linear-gradient(to right,#fe8489 0%,#ff8b90 100%);
            border-radius: 0;
            font-size: 12px;
            font-weight: normal;
            left: 48px;
            top: 3px;
            z-index: 9999;
            padding: 0px 17px 8px;
            text-shadow: none;
            color: #fff !important;
            z-index: 999;
        }

            .my_badge.label.arrowed-in-right:before {
                border: 11px solid #ff8a8f;
                border-left-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: -20px;
            }

        product_block .middle_feature_section .my_badge {
            font-size: 13px;
        }

        .my_badge.label-large.arrowed-in-right {
            margin-right: 11px;
        }

        .text-white {
            font-size: 16px;
            color: #fff !important;
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: #fff !important;
        }

        #ui-datepicker-div {
            width: 295px;
        }

        .cmposion {
            position: absolute;
            right: 20px;
            top: 12px;
            color: #dbd8d8;
        }

        .checkboxcust {
            display: block;
            position: relative;
            margin-bottom: 0px;
            cursor: pointer;
            /* font-size: 15px; */
            margin-top: 18px !important;
            font-weight: 100 !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-top: 2px !important;
        }
    </style>
}

<div style="margin-top:-20px;">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-7">
                <h3 style="margin-top: 10px;color: #fff;margin-left: 30px;">Proposal Details </h3>
            </div>
            @*<div class="col-sm-5">
                    <a href="/health/helthsearch" class="editcort">Edit Details</a>
                    <span class="emialcort permismcolr" id="spTotalPremium" style="text-align: center;">2000.00</span>
                </div>*@
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 form-group" id="divProductDetails" style="flex: 0 0 24%; border: 1px solid #ccc; padding: 6px;">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;margin-top:50%;">
                        Please wait,<br />We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
                <div class="col-sm-9 form-group">
                    <div class="col-sm-12" style="margin-bottom: 30px;">
                        <div id="msform">
                            <ul id="progressbar">
                                <li class="active">Selected Plan</li>
                                <li class="linext2">Proposer's Details </li>
                                <li class="linext3">Insured Details</li>
                                <li class="linext4">Medical History</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 form-group">
                        <fieldset class="section1" id="fdselectedplansection">
                            <div class="col-sm-12" id="divSelectedPlanSection">
                                <div class="row form-group">
                                    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                                        <div class="row form-group" style="border-bottom: 1px solid #ccc;">
                                            <div class="col-sm-12">
                                                <p class="filterhed">Select Plan</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="row form-group" id="divPlanSection">
                                                    <h4 class="col-sm-12 text-center" style="font-size: 25px;padding: 5%;">
                                                        Please wait, we are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group" style="border: 1px solid #ccc;">
                                            <div class="col-sm-12">
                                                <p class="filterhed">Select Addons</p>
                                            </div>
                                        </div>
                                        <div class="row form-group" id="divPlanAddon">
                                            <h4 class="col-sm-12 text-center" style="font-size: 15px;">
                                                Please wait, we are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" id="NextSelectedPlan" style="display:none;">
                                <button class="btn theme-btn btn-hover" id="btnGoToNextProposal" onclick="return NextSelectedPlan();" style="padding: 10px 50px;float:right">Next &gt;</button>
                            </div>
                        </fieldset>
                        <fieldset class="section2 hidden" id="fdproposerdetails">
                            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-2 form-validation">
                                        <select class="form-control formcontlbord" id="ddlPTitle">
                                            <option value="">Title</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                            <option value="Ms.">Ms.</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPFirstName" placeholder="First Name *" onkeypress="return IsAlphabet(event)" />
                                    </div>
                                    <div class="col-sm-5 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPLastName" placeholder="Last Name *" onkeypress="return IsAlphabet(event)" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" id="txtPMobile" placeholder="Mobile No *" onchange="return CheckMobileNumber('txtPMobile','notpmobvalid');" />
                                        <span class="notpmobvalid"></span>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord CommanDateWithYr" readonly="" id="txtPDOB" autocomplete="off" placeholder="Date Of Birth *" onchange="return CalculateAge('txtPDOB');" size="10">
                                        <span class="notpdobvalid"></span>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPEmail" placeholder="Email id *" onchange="return CheckEmailAddress(event)" />
                                        <span class="notp_email" style="color: rgb(0, 163, 0);display:none;"></span>
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPAddress1" placeholder="Address line 1*" maxlength="60" onkeypress="return isAlphaNumericWithSpace(event);" />
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPAddress2" placeholder="Address line 2*" maxlength="60" onkeypress="return isAlphaNumericWithSpace(event);" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control formcontlbord " id="txtPLandmark" placeholder="Landmark" onkeypress="return isAlphaNumericWithSpace(event);" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord successpincode" autocomplete="off" id="txtPPincode" placeholder="Pincode *" onkeypress="return isNumberOnlyKeyNoDot(event)" maxlength="6" disabled="" />
                                        <input type="hidden" id="hdnState" />
                                        <span class="notpincodevalid hidden" style="position: absolute;top: 12px;right: 20px;font-size: 13px;"></span>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPCity" placeholder="City Name *" onkeypress="return isAlphaNumericWithSpace(event);" />
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPState" placeholder="State Name *" onkeypress="return isAlphaNumericWithSpace(event);" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPPan" placeholder="Pan Number" maxlength="10" onkeypress="return isAlphaNumeric(event);" onkeyup="return CheckPanNumber();" style="text-transform: uppercase;" />
                                        <span class="notp_pan" style="color: rgb(0, 163, 0);display:none;"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control formcontlbord" id="txtPAadhar" placeholder="AAdhar Number" maxlength="12" onkeypress="return isNumberOnlyKeyNoDot(event);" style="text-transform: uppercase;">
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <select class="form-control formcontlbord" id="ddlAnualIncome">
                                            <option value="">Select Annual Income</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px; border:1px solid #ccc;border-left: none;border-right: none;">
                                    @*<div class="col-sm-12" style="    margin: 10px;">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Does any member
                                                proposed to be insured, suffered or are suffering from any adverse medical condition of any kind especially Heart/Stroke/ Cancer/Renal disorder/Alzheimer's disease/Parkinson’s disease?
                                                <input type="checkbox" class="submenuclass" id="chkHavingCriticalIllness" name="chkHavingCriticalIllness">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>*@
                                    <div class="col-sm-12 " style="    margin: 10px;">
                                        <label style="color: #777777!important;">
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" style="width: 20px; height: 18px;" disabled />
                                            <span style="vertical-align: top;">Is Proposer and Insured Person Same ?</span>
                                            @*<span class="checkmark"></span>*@
                                        </label>
                                    </div>
                                    @*<div class="col-sm-12" style="    margin: 10px;">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Is Proposer and Nominee Person Same ?
                                                <input type="checkbox" class="submenuclass" id="chkIsPropNominee" name="chkIsPropNominee" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>*@
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <button class="btn theme-btn btn-hover previous1" onclick="return Backform2Section1();" style="padding: 10px 50px;float:left;background: #000000;border-color: #000000;">&lt; Previous</button>
                                        <button class="btn theme-btn btn-hover" id="btnGoToNextInsured" style="padding: 10px 50px;float:right" onclick="return GoToNextInsuredSection();">NEXT &gt;</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="section3" id="fdInsuredDetails" style="display:none;"></fieldset>
                        <fieldset class="section4 " id="fdMedicalHistory" style="display:none;">
                            <div class="col-sm-12">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <h4>Medical History</h4>
                                    </div>
                                    <div class="col-sm-12" id="divMedicalHistoryDetail"></div>
                                    <div class="col-sm-12" style="margin-top: 20px;">
                                        <button class="btn theme-btn btn-hover" onclick="return Backform2Section3();" style="padding: 10px 50px;float:left;background: #000000;border-color: #000000;">&lt; Previous</button>
                                        <button class="btn theme-btn btn-hover" id="btnGenrateProposal" style="padding: 10px 50px;float:right" onclick="return CreateProposalSubmit();">Genrate Proposal &gt;</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" style="display:none!important" id="PMButton" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#HealthPerposalModal"></button>
<div class="modal fade" id="HealthPerposalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 10%;">
        <div class="modal-content" id="divPerposalModal" style="padding: 0 20px 20px 20px;">
            @*<p class="text-center" id="model_wait" style="font-size: 20px;padding: 10%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>*@
            <div id='model_wait' style='text-align: center;padding: 30px 20px 0px 20px;'>
                <img src='~/Content/images/care.jpg' style="width: 30%;" />
                <p class='text-center' style='font-size: 20px!important;padding: 5%;color:#38c300;'>Please wait, we are preparing your proposal... <i class='fa fa-spinner fa-pulse'></i></p>
            </div>

            <div id="model_success" style="display:none;text-align: center;">
                <img src="~/Content/images/care.jpg" style="width: 30%;" />
                <p class="text-center" style="font-size: 20px!important;padding: 5%;color:#38c300;">Your proposal has been created successfully.</p>
                <table class="table table-bordered table-striped table-success">
                    <tr style="background-color: #fff;">
                        <td>Enquiry Id</td>
                        <td id="modEnqId"></td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td>Premium</td>
                        <td id="modPremium"></td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td>Proposal Number</td>
                        <td id="modProposalNo"></td>
                    </tr>
                </table>
                <a href="" class="btn theme-btn btn-hover" id="model_summaryBtn" style="padding: 10px 50px;float:right">Go to Summary</a>
            </div>

            <div class="modal-header" id="model_fail1" style="display:none;">
                <h5 class="modal-title text-danger">Error Occured !</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-center" id="model_fail" style="font-size: 50px;padding: 10%;display:none;color:#e60000">Proposal Creation Failed !!!</p>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/js/Common/common.js"></script>
    <script src="~/Content/js/Custom/HealthProposal.js?v=1.5"></script>
    <script src="~/Content/js/Common/datepicker.js?v=1.1"></script>
}

