﻿
label {
    font-weight: bold !important;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        background: #fff;
    }

.tabmedi button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 20%;
    background: #dfdfdf;
    color: #000;
    border-right: 2px solid #000;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #31306b;
    color: #ffff;
}

.tabmedi button:hover {
    background-color: #31306b;
    color: #ffff;
}

.tab button.active {
    background: #e32730;
    color: #ffff;
}

.tabmedi button.active {
    background: #e32730;
    color: #ffff;
}

.tab2 {
    overflow: hidden;
    border: 1px solid #cccccc4a;
    background-color: #cccccc4a;
}

    .tab2 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        background: #fff;
    }
        /* Change background color of buttons on hover */
        .tab2 button:hover {
            background-color: #ddd;
        }

        .tab2 button.active {
            background: #1375b9;
            color: #ffff;
        }

        .tab2 button.selected {
            background: #1375b9;
            color: #ffff;
        }


.tab3 {
    overflow: hidden;
    border: 1px solid #cccccc4a;
    background-color: #cccccc4a;
}

    .tab3 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        background: #fff;
    }
        /* Change background color of buttons on hover */
        .tab3 button:hover {
            background-color: #ddd;
        }

        .tab3 button.active {
            background: #1375b9;
            color: #ffff;
        }

        .tab3 button.selected {
            background: #1375b9;
            color: #ffff;
        }

.tab4 {
    overflow: hidden;
    border: 1px solid #cccccc4a;
    background-color: #cccccc4a;
}

    .tab4 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        background: #fff;
    }
        /* Change background color of buttons on hover */
        .tab4 button:hover {
            background-color: #ddd;
        }

        .tab4 button.active {
            background: #1375b9;
            color: #ffff;
        }

        .tab4 button.selected {
            background: #1375b9;
            color: #ffff;
        }

.tab5 {
    overflow: hidden;
    border: 1px solid #cccccc4a;
    background-color: #cccccc4a;
}

    .tab5 button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
        background: #fff;
    }
        /* Change background color of buttons on hover */
        .tab5 button:hover {
            background-color: #ddd;
        }

        .tab5 button.active {
            background: #1375b9;
            color: #ffff;
        }

        .tab5 button.selected {
            background: #1375b9;
            color: #ffff;
        }

.prvbtn {
    margin-right: 5px;
}

.section1 {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 34px 30px;
    border-radius: 4px;
}

.section2 {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 34px 30px;
    border-radius: 4px;
}

.section3 {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 34px 30px;
    border-radius: 4px;
}
.section4 {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 34px 30px;
    border-radius: 4px;
}


#msform {
    text-align: center;
    position: relative;
    width: 100%;
}

    #msform fieldset {
    }

        #msform fieldset:not(:first-of-type) {
        }


    #msform .action-button {
    }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #f0d11c;
        }

    #msform .action-button-previous {
    }

        #msform .action-button-previous:hover, #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
        }


/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 5px;
    overflow: hidden;
    counter-reset: step;
}

    #progressbar li {
        list-style-type: none;
        color: #262566;
        text-transform: uppercase;
        font-size: 15px;
        width: 50%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 28px;
            height: 28px;
            line-height: 29px;
            display: block;
            padding: 0px;
            font-size: 18px;
            color: #fff;
            background: #dedede;
            border-radius: 50%;
            margin: 0 auto 10px auto
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 5px;
            background: #848484;
            position: absolute;
            left: -50%;
            top: 19px;
            z-index: -1;
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #2aabe5;
            color: white;
        }

.prev {
    font-size: 15px;
    padding: 11px 30px;
    background: #1375b9;
    border: 1px solid #1375b9;
}
/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}

    .dme_link a {
        background: #FFF;
        font-weight: bold;
        color: #ee0979;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 25px;
        font-size: 12px;
    }

        .dme_link a:hover, .dme_link a:focus {
            background: #C5C5F1;
            text-decoration: none;
        }

.help-error-block, .has-error p {
    color: #c62828;
}

.section1, .section2, .section3 {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    border-radius: 4px;
}

.hidden {
    display: none !important;
}

.designbtn {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
